{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Регистрация{% endblock %}</title>
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <style>
            .RedError{
                color: red;
            }
            .GreenGood{
                color: Green;
            }
            .FormPadding{
                padding-top: 5%;
            }
        </style>
    </head>
    <body>
        {% block navbar %}
            {% include 'NavBar.html' %}
        {% endblock navbar %}

        <div class="container-fluid">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col FormPadding">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form.NickName.label_tag}}
                                    {{ form.NickName }}
                                    <p1 class="errNN"></p1>
                                    <small id="NickHelp" class="form-text text-muted">Псевдоним должен состоять из 4-30 символов</small>
                                </div>
                                <div class="form-group">
                                    {{form.email.label_tag}}
                                    {{ form.email}}
                                    <p1 class="errEmail"></p1>
                                </div>
                                <div class="form-group">
                                    {{form.Password.label_tag}}
                                    {{ form.Password}}
                                    <small id="PassHelp" class="form-text text-muted">Пароль должен состоять из 8-20 символов</small>
                                </div>
                                <div class="form-group">
                                    {{form.Password2.label_tag}}
                                    {{ form.Password2}}
                                </div>
                                <button type="submit" class="btn btn-lg btn-success Check " disabled>Зарегистрироваться</button>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script>
            {% if emailError == True %}
                $( ".errEmail" ).html('эта электронная почта уже используется');
                $( ".errEmail" ).addClass("RedError");
            {% endif %}

            {% if NickNameError == True %}
                $( ".errNN" ).html('этот псевдоним уже используется');
                $( ".errNN" ).addClass("RedError");
            {% endif %}
            function CheckForm(){
                if($(".NickNameJQ").hasClass("okay") &&
                   $(".PasswordJQ").hasClass("okay") &&
                   $(".Password2JQ").hasClass("okay") &&
                   $(".emailJQ").hasClass("okay")
                ){
                    $( ".Check" ).removeClass("disabled");
                    $(".Check").prop('disabled', false);
                }
                else {
                    $( ".Check" ).addClass("disabled");
                    $(".Check").prop('disabled', true);
                }
            }

            function ValidForm(Form){
                Form.removeClass("is-invalid");
                Form.addClass("okay");
                Form.addClass("is-valid");
            }
            function InValidForm(Form){
                Form.removeClass("is-valid");
                Form.removeClass("okay");
                Form.addClass("is-invalid");
            }

            $( ".NickNameJQ" ).change(function() {
              val = $( ".NickNameJQ" ).val();
              if(val.length > 4 ){
                ValidForm( $( ".NickNameJQ" ) );
              }else{
                InValidForm( $( ".NickNameJQ" ) );
              };
              CheckForm();
            });

            $( ".emailJQ" ).change(function() {
              val = $( ".emailJQ" ).val();
              if(val.indexOf("@") >= 0 && val.indexOf(".") >= 0 ){
                ValidForm( $( ".emailJQ" ) );
              }else{
                InValidForm( $( ".emailJQ" ) );
              };
              CheckForm();
            });

            $( ".PasswordJQ" ).change(function() {
              val = $( ".PasswordJQ" ).val();
              if(val == $( ".Password2JQ" ).val()){
                ValidForm( $( ".Password2JQ" ) );
              }
              else{
                InValidForm( $( ".Password2JQ" ) );
              }
              if(val.length > 8 ){
                ValidForm( $( ".PasswordJQ" ) );
              }else{
                InValidForm( $( ".PasswordJQ" ) );
              };
              CheckForm();
            });

            $( ".Password2JQ" ).change(function() {
              val = $( ".Password2JQ" ).val();
              if(val == $( ".PasswordJQ" ).val()){
                ValidForm( $( ".Password2JQ" ) );
              }else{
                InValidForm( $( ".Password2JQ" ) );
              };
              CheckForm();
            });
        </script>
    </body>
</html>