{% load static %}
{% block navbar %}
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
              <a class="navbar-brand" href="{% url "HomePage:index" %}">BookIdeas</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "Account:SignInForm" %}">
                        <img src="{% static "icons/door-open.svg" %}" alt="" width="16" height="16" title="door-open">
                        Войти
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "Account:CheckInForm" %}">
                        <img src="{% static "icons/person-plus.svg" %}" alt="" width="16" height="16" title="person-plus">
                        Зарегистрироваться
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
{% endblock navbar %}