{% load static %}
{% block navbar %}
        <div class="sticky-top">
            <nav class="navbar navbar-expand-sm navbar-light bg-light ">
              <a class="navbar-brand" href="{% url "HomePage:index" %}">BookIdeas</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Добро пожаловать, <b>{{ request.session.NickName }}</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-left">
                        <a class="dropdown-item" href="#">
                            <img src="{% static "icons/plus-circle.svg" %}" alt="" width="16" height="16" title="door-open">
                            Добавить идею
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="{% static "icons/award.svg" %}" alt="" width="16" height="16" title="door-open">
                            Подписка
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "Account:Logout" %}">
                            <img src="{% static "icons/backspace.svg" %}" alt="" width="16" height="16" title="door-open">
                            Выйти
                        </a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
{% endblock navbar %}