{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Вход{% endblock %}</title>
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <style>
            .RedError{
                color: red;
            }
        </style>
    </head>
    <body>
        {% block navbar %}
            {% include 'NavBar.html' %}
        {% endblock navbar %}

        <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <p1 class="RedError"></p1>
                                <div class="form-group">
                                    {{form.NickName.label_tag}}
                                    {{ form.NickName }}
                                </div>
                                <div class="form-group">
                                    {{form.Password.label_tag}}
                                    {{ form.Password }}
                                </div>

                                <button type="submit" class="btn btn-lg btn-success Check " disabled>Войти</button>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script>
            {% if SignInError %}
                $( ".RedError" ).html('Неверный псевдоним или пароль');
            {% endif %}
            function CheckForm(){
                if($(".NickNameJQ").hasClass("okay") &&
                   $(".PasswordJQ").hasClass("okay")
                ){
                    $( ".Check" ).removeClass("disabled");
                    $(".Check").prop('disabled', false);
                }
                else {
                    $( ".Check" ).addClass("disabled");
                    $(".Check").prop('disabled', true);
                }
            }

            function ValidForm(Form){
                Form.removeClass("is-invalid");
                Form.addClass("okay");
                Form.addClass("is-valid");
            }
            function InValidForm(Form){
                Form.removeClass("is-valid");
                Form.removeClass("okay");
                Form.addClass("is-invalid");
            }

            $( ".NickNameJQ" ).change(function() {
              val = $( ".NickNameJQ" ).val();
              if(val.length > 4 ){
                ValidForm( $( ".NickNameJQ" ) );
              }else{
                InValidForm( $( ".NickNameJQ" ) );
              };
              CheckForm();
            });

            $( ".PasswordJQ" ).change(function() {
              val = $( ".PasswordJQ" ).val();
              if(val.length > 8 ){
                ValidForm( $( ".PasswordJQ" ) );
              }else{
                InValidForm( $( ".PasswordJQ" ) );
              };
              CheckForm();
            });
        </script>
    </body>
</html>