{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}BookIdeas{% endblock %}</title>
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <style>
        .parent{
            position:relative;
        }

        .parent img{
            display:block;
        }

        .parent div{
            background: rgba(0,0,0,0.66);
            position:absolute;
            width:100%;
            left:0;
            bottom:0;
            color:#fff;
            padding:35% 10%;
            text-align: left
        }
    </style>
    </head>
    <body>
        {% block navbar %}
            {% if 'NickName' in request.session %}
                {% include 'NavBarAcc.html' %}
            {% else %}
                {% include 'NavBar.html' %}
            {% endif %}
        {% endblock navbar %}
        <div class="parent">
            <img src="{% static "img/background.png" %}" class="img-fluid">
            <div>
                <h1 class="display-3">BookIdeas</h1>
                <h3>Воплощаем идеи писателей в жизнь</h3>
            </div>
        </div>
        <div class="container-fluid">
            <br>
            <h1 align="center">Лента идей</h1>
            <div class="row row-cols-1 row-cols-md-3">
                {% for book in DataBook %}
                <div class="col mb-4">
                    <br>
                    <div class="shadow-lg card border-white mb-3 border">
                        <div class="card-header">{{ book.Header }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ book.ShortText }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <a href="{{ book.get_absolute_url }}">
                                        <button type="button" class="btn btn-primary">Перейти</button>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    Автор: <a href='{{ book.AuthorURL }}'>{{ book.Author }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    </body>
</html>