{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}BookIdeas{% endblock %}</title>
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <style>
        .parent{

            position:relative;
        }

        .parent img{

            display:block;
        }

        .parent div{
            background: rgba(0,0,0,0.66);
            position:absolute;
            width:100%;
            left:0;
            bottom:0;
            color:#fff;
            padding:35% 10%;
            text-align: left
        }
        .parent h1{
            font-size: 400%;
        }
        .parent p1{
            font-size: 200%;
        }

    </style>
    </head>
    <body>
        {% block navbar %}
            {% include 'HomePage/NavBar.html' %}
        {% endblock navbar %}
        <div class="parent">
            <img src="{% static "img/background.png" %}" class="img-fluid">
            <div>
                <h1>BookIdeas</h1>
                <p1>Воплощаем идеи писателей в жизнь</p1>
            </div>
        </div>
        <div class="container-fluid">
            <h1 align="center">Лента идей</h1>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    </body>
</html>